body{
  background-color: #f6fcff;
  background-image: url("/imges/main_bg.jpg");
  background-position: top center;
  background-repeat:no-repeat;
  
}
  /* 중앙이미지를 정가운데 위치 */
  /* 화면크기(가로)가 줄어들 때 화면너비 100% */
  /* 자동으로 이미지 크기를 줄이기 */
  .character{
    width: 100%;
    max-width: 364px;
    /* 이미지는 클자요소 중앙정렬이 안됨 
    상자 요소로 전환해서 처리*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }